<head>
  
  <link rel="stylesheet" href="https://use.typekit.net/rzs2suz.css">
</head>

<header>
      <h1 class="headline"> FlowerDictionary</h1>
</header>


  <nav>
      <ul class="nav-list">
        <li class="nav-list-item">
          <%= link_to "Dictionary", public_bouquets_path %>
        </li>
      
      </ul>
    </nav>
    


<main>

  <div class="list-wrap">
  <div class="list-box">
  <div class="list-comment">
  <%= attachment_image_tag @bouquet, :image, :fill, 300, 300 %>
  <p>開花時期：<%= @bouquet.flowering_season.season %>
  <p><%= @bouquet.name %></p>
  <p><%= @bouquet.flower_language %></p>
  <p><%= @bouquet.introduction %></p>
  <p><%= @bouquet.birth %>
<%= link_to "BACK", public_bouquets_path %>
</div>
</div>
</div>
</main>
